body {
  /* insert a background image with a url */
  background-image: url("https://e0.pxfuel.com/wallpapers/421/825/desktop-wallpaper-mexican-food-background-seamless-food-delivery-stepone-for-your-mobile-tablet-explore-mexican-food-mexican-for-walls-mexican-style-mexicans-with-attitude.jpg");
  overflow-x: hidden;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Jost', sans-serif;
}
/* overlay for background */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black color */
  z-index: -1;
}
/* overlay for food images */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
/* food container */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  transition: all 0.4s ease-in-out;
  max-width: 100%;
}
/* each food box */
.food-item {
  background-color: #f8f9fa;
  border-radius: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5px;
  transition: transform 0.2s ease-in-out;
  position: relative;
}
.food-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 20px; */
  max-width: 200px;
  margin:10px;
}
.food-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  margin: 0 auto;
}


.food-image {
  height: 120px;
  width: 120px;
  object-fit: cover;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
}
.food-name {
  font-size: 24px;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 0;
}


.food-price {
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.food-image-overlay {
  position: relative;
  height: 120px;
  width: 120px;
  overflow: hidden;
}

.food-image-overlay::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent 0%, black 100%);
}


.food-item:hover {
  transform: scale(1.1);
}
/*food name */

h3 {
  color: #545454;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
}

p {
  color: #5a5a5a;
  font-size: 18px;
  margin-bottom: 10px;
}

.quantity {
  font-size: 14px;
  color: rgb(82, 82, 82);
}

/* move down food box on hover */

.dropdown:hover ~ .container {
  margin-top: 120px;
}

.btn.dropdown-toggle ~ .container .food-item {
  transform: translateY(2%);
}

.dropdown {
  position: relative;
  top: 10px;
  margin-left:50%;
  transform: translateX(-50%);
  display: inline-block;
  justify-content: center;
  align-items: center;
  z-index: 2;
  text-align: center; 
}
/* Fix dropdown menu display */
.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  left: 50%; 
  transform: translateX(-50%); 
  width: 100%;
}

.dropdown button:hover + .dropdown-menu {
  display: block;
}

.btn.dropdown-toggle {
  background-color: transparent !important;
  border: none !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
}
/* search bar */

.search-container {
  position: absolute;
  right: 6%;
  padding: 20px;
  display: inline-block;
}

#search-input {
  padding: 10px 30px 10px 10px;
  border: none;
  border-radius: 20px;
  background-color: #f2f2f2;
  font-size: 16px;
  width: 200px;
  outline: none;
}

#search-input::-webkit-search-decoration,
#search-input::-webkit-search-cancel-button,
#search-input::-webkit-search-results-button,
#search-input::-webkit-search-results-decoration {
  display: none;
}

#search-input::placeholder {
  color: #999;
  font-style: italic;
}

#search-input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#search-input[type="search"]::-webkit-search-icon {
  position: relative;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

#search-input[type="search"]::-moz-search-clear {
  display: none;
}
/* search icon */
.material-icons{
  color: #a9a9a9;
  vertical-align: middle;
  text-decoration: none;
  cursor:pointer;
}

.active {
  background-color: #4caf50;
  color: white;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: stretch;
  }

  .food-item {
    margin: 10px 0;
    width: 100%;
  }
}
