<!DOCTYPE html>
<html>
  <head>
    <title>Food Items</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="static/css/food.css" />
    <link rel="stylesheet" href="static/css/navbar.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="dropdown" style="margin-top: 20px">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        style="width: 100%"
      >
        Select Canteen
      </button>
      <div
        class="dropdown-menu"
        aria-labelledby="dropdownMenuButton"
        onmouseenter="this.classList.add('show')"
        onmouseleave="this.classList.remove('show')"
      >
        {% for canteen1 in canteen %}
        <a class="dropdown-item" href="#">{{ canteen1.name }}</a>
        {% endfor %}
      </div>
    </div>

    <div class="search-container">
      <input
        type="text"
        id="search-input"
        placeholder="Search for food items..."
      />
      <a href="#" id="search-button"
        ><label for="search-input" id="search-button"
          ><span class="material-icons" style="vertical-align: middle; color:#ff7700"
            >search</span
          ></label
        ></a
      >
    </div>

    <div class="container">
      {% for canteen1 in canteen %}
      <div
        id="{{ canteen1.name|replace(' ', '_')}}"
        class="food-list"
        style="display: none"
      >
        {% for food in food_items %} {% if food.canteensid ==
        canteen1.idcanteens %}
        <div class="food-item" id="{{ food.name|replace(' ', '') |lower}}">
          <div class="food-image-overlay">
            <img
              src="{{ food.image }}"
              alt="{{ food.name }}"
              class="food-image"
            />
          </div>
          <h3 class="food-name">{{ food.name }}</h3>
          <p class="food-price">Price: {{ food.price }}</p>
          <div class="food-quantity">
            <button
              class="btn btn-outline-primary btn-add"
              data-max="{{ food.quantity }}"
              onclick="addToCart('{{ food.name }}', '{{ food.price }}')"
            >
              Add
            </button>
            <div
              class="input-group input-group-sm input-quantity"
              style="display: none; width: 50%; margin: auto"
            >
              <div class="input-group-prepend">
                <button
                  class="btn btn-outline-danger btn-minus"
                  type="button"
                >
                  -
                </button>
              </div>
              <input
                type="text"
                class="form-control input-quantity-value"
                value="1"
                readonly
                style="
                  border: none;
                  background-color: transparent;
                  text-align: center;
                "
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-success btn-plus"
                  type="button"
                >
                  +
                </button>
              </div>
            </div>
          </div>
        </div>
        {% endif %} {% endfor %}
      </div>
      {% endfor %}
    </div>

    <script>
      $(document).ready(function () {
        $(".dropdown-item").on("click", function () {
          var canteenName = $(this).text().replace(/\s+/g, "_");
          $(".dropdown-toggle").text($(this).text());
          $(".food-list").hide();
          $("#" + canteenName).show();
        });
      });
      $(document).ready(function () {
        $(".btn-add").on("click", function () {
          var maxQuantity = parseInt($(this).data("max"));
          $(this).hide();
          var quantityInput = $(this).siblings(".input-quantity");
          quantityInput.show();
          var quantityValue = quantityInput.find(".input-quantity-value");
          var minusButton = quantityInput.find(".btn-minus");
          var plusButton = quantityInput.find(".btn-plus");
          var quantity = parseInt(quantityValue.val());
          minusButton.prop("disabled", quantity <= 1);
          plusButton.prop("disabled", quantity >= maxQuantity);
        });

        
      });

      $(document).ready(function () {
        // Search when button is clicked
        $("#search-button").on("click", function () {
          var searchValue = $("#search-input")
            .val()
            .toLowerCase()
            .replace(/\s+/g, "");
          $(".food-item").each(function () {
            var itemID = $(this).attr("id");
            var isMatched = itemID.includes(searchValue);
            console.log(
              itemID + " includes " + searchValue + " : " + isMatched
            );
            if (isMatched) {
              $(this).show();
            } else {
              $(this).hide();
            }
          });
        });

        // Search when enter key is pressed
        $("#search-input").on("keypress", function (e) {
          if (e.keyCode == 13) {
            $("#search-button").click();
          }
        });
      });
      function addToCart(name, netcost) {
  var quantity = parseInt($(".input-quantity-value").val());
  $.ajax({
    url: "/api/cart",
    method: "POST",
    contentType: "application/json",
    data: JSON.stringify({
      name: name,
      netcost: netcost,
      quantity: quantity,
    }),
    success: function (response) {
      alert("Item added to cart!");
    },
    error: function (xhr, status, error) {
      alert("Error adding item to cart: " + error);
    },
  });
}


function updateCartItemQuantity(quantityInput) {
  var quantityValue = quantityInput.find(".input-quantity-value");
  var quantity = parseInt(quantityValue.attr("value"));
  var productName = quantityInput.closest('.food-item').find('.food-name').text();
  console.log(quantityInput.val());
  console.log(productName, quantity);
  $.ajax({
    url: "/api/cart/update_quantity",
    method: "POST",
    contentType: "application/json",
    data: JSON.stringify({
      productName: productName,
      quantity: quantity,
    }),
    success: function (response) {
      // Handle success response
      alert("Item quantity updated!");
    },
    error: function (xhr, status, error) {
      alert("Error updating cart item quantity: " + error);
    },
  });
}


$(document).ready(function() {
  $(".btn-minus").on("click", function () {
  var quantityInput = $(this).closest(".input-quantity");
  var quantityValue = quantityInput.find(".input-quantity-value");
  var minusButton = quantityInput.find(".btn-minus");
  var plusButton = quantityInput.find(".btn-plus");
  var quantity = parseInt(quantityValue.attr("value")); // Retrieve the value from the attribute
  quantity--;
  quantityValue.attr("value", quantity); // Update the value attribute of the input field
  minusButton.prop("disabled", quantity <= 0);
  plusButton.prop(
    "disabled",
    quantity >= parseInt(quantityInput.siblings(".btn-add").data("max"))
  );
  updateCartItemQuantity(quantityInput);
});

$(".btn-plus").on("click", function () {
  var quantityInput = $(this).closest(".input-quantity");
  var quantityValue = quantityInput.find(".input-quantity-value");
  var minusButton = quantityInput.find(".btn-minus");
  var plusButton = quantityInput.find(".btn-plus");
  var quantity = parseInt(quantityValue.attr("value")); // Retrieve the value from the attribute
  quantity++;
  quantityValue.attr("value", quantity); // Update the value attribute of the input field
  minusButton.prop("disabled", quantity <= 1);
  plusButton.prop(
    "disabled",
    quantity >= parseInt(quantityInput.siblings(".btn-add").data("max"))
  );
  updateCartItemQuantity(quantityInput);
});



  
});



    </script>
  </body>
</html>
