<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sign up / Login</title>
    <link rel="stylesheet" href="static/css/login.css" />
    
  </head>
  <body>
    <div class="main">
      <input type="checkbox" id="chk" aria-hidden="true" />

      <div class="signup">
        <form>
          <div class="popup" id="popup">
            <p id="popup-message" ></p>
          </div>
          <label for="chk" aria-hidden="true">DelicaDeza</label>
        </form>
      </div>

      <div class="login">
        <form method="post" action="/">
          <label for="chk" aria-hidden="true" style="margin-bottom: 20px"
            >Login</label
          >
          
          <input type="email" name="email" placeholder="Email" required="" />
          <input
            type="password"
            name="pswd"
            placeholder="Password"
            required=""
          />
          <button>Login</button>
          <div class="stay-signed-in" style="vertical-align: middle">
            <input
              type="checkbox"
              value="true"
              id="stay_logged_in"
              name="stay_logged_in"
              style="margin: 0px; width: auto; margin-right: 2%"
            />
            <label for="stayLoggedIn" style="margin: 0px; font-size: 16px"
              >Stay Logged In</label
            >
          </div>
          <a href="forgot.html">Forgot Password?</a>
          <div class="ruler"></div>
          <h4>New User?</h4>
        </form>
        <a href="create.html" style="padding-left: 0; margin-right: 0"
          ><button formaction="create.html">Signup</button></a
        >
      </div>
    </div>
  </body>
  <script>
    // JavaScript function to show the pop-up message
    function showPopup(message) {
      const popup = document.getElementById("popup");
      const popupMessage = document.getElementById("popup-message");
      popupMessage.textContent = message;
      popup.style.display = "block";
      setTimeout(function() {popup.style.display = "none";}, 5000);
    }
    window.onload = function() {
              {% if error_message %}
                showPopup("{{ error_message }}");
              {% endif %}
            };
  </script>
</html>
