<head>
  <link rel="stylesheet" href="static/css/navbar.css" />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
</head>
<body>
  <div class="navcontainer">
    <div class="row">
      <div class="col-2"></div>
      <nav class="navbar navbar-expand-lg bg-light col mt-4">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
              <li class="nav-item">
                <a class="nav-link">DelicaDeza</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">about</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">contact</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span class="material-icons cart-icon">shopping_cart</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="col-2"></div>
    </div>
  </div>
  
</body>
