<!DOCTYPE html>
<html lang="en" title="Status">
  <head>
    <title>Cart Status</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/css/payment.css" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="static/css/food.css" />
    <link rel="stylesheet" href="static/css/navbar.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>

  <body>

    {% include 'navbar.html' %}
    <br><br>   
 
 
 
    <div class="container">
      <div class="left">
        <h3>BILLING ADDRESS</h3>
        <form method="POST" action="{{ url_for('payment') }}">


          Full name
          <input type="text" name="" placeholder="Enter name">
          Email
          <input type="text" name="" placeholder="Enter email">
  
          Address
          <input type="text" name="" placeholder="Enter address">
          
          City
          <input type="text" name="" placeholder="Enter City">
          <div id="zip">
            <label>
              State
              <select>
                <option>Choose State..</option>
                <option>Tamil Nadu</option>
                <option>Kerala</option>
                <option>Andhra Pradesh</option>
                <option>Telangana</option>
                <option>Rajasthan</option>
                <option>Hariyana</option>
                <option>Uttar Pradesh</option>
                <option>Madhya Pradesh</option>
              </select>
            </label>
              <label>
              Zip code
              <input type="number" name="" placeholder="Zip code">
            </label>
          </div>
        </form>
      </div>
      <div class="right">
        <h3>PAYMENT</h3>
        <form>
<!--Accepted Card <br>
          <img src="image/card1.png" width="100">
          <img src="image/card2.png" width="50"> -->
          <br><br>
  
          Credit card number
        <input type="text" name="" placeholder="Enter card number">
          
          Exp month
          <input type="text" name="" placeholder="Enter Month">
          <input type="email" name="email" placeholder="Email" required="" />
          <div id="zip">
            <label>
              Exp year
              <select>
                <option>Choose Year..</option>
                <option>2022</option>
                <option>2023</option>
                <option>2024</option>
                <option>2025</option>
              </select>
            </label> 
              <label>
              CVV
              <input type="number" name="" placeholder="CVV">

            </label>
            <button type="submit" formmethod="post" formaction="/payment">Proceed to Checkout</button>
          </div>

        </form>
   
      </div>
    </div>


    
  </body>
</html>
